version: '3.8'

services:
  surrealdb:
    container_name: surrealdb
    image: surrealdb/surrealdb:v2.6.1
    ports:
      - 8000:8000
    entrypoint:
      - /surreal
      - start
      - --user
      - root
      - --pass
      - root

  postgres:
    container_name: postgres
    build: infrastructure/postgres
    ports:
      - "5432:5432"

  keycloak:
    container_name: keycloak
    build: infrastructure/keycloak
    depends_on:
      - postgres
    command: ["start-dev", "--import-realm"]
    environment:
      KC_DB: postgres
      KC_DB_DB: keycloak
      KC_DB_SCHEMA: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KC_DB_URL: "jdbc:postgresql://postgres:5432/keycloak"
      KC_METRICS_ENABLED: true
      KC_REALM_NAME: learn-sec
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: password
    ports:
      - 8888:8080

  mail:
    container_name: mail
    image: schickling/mailcatcher
    ports:
      - 1080:1080
      - 1025:1025